
:root {
    --dark-red: #400414; 
    --soft-white: #BFB99B; 
    --brown: #402E24; 
    --soft-brown: #594336; 
    --black: #282623;
    --gray: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 390px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #400414 100%)
}

header img{
    width: 145px;
    height: auto;
    margin-top: 60px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 20px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p{
    margin-top: 15px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-white);
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 118px);
    top: 330px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 250px;
    height: 48px;
    background-color: var(--off-white);
    /* sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
    transition: color 0.3s ease;
}
.header--button:hover{
    color: #757575;
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
    padding-top: 50px;
}

.main-products--container {
    width: 100%;
    min-width: 320px;
    text-align: center;
    background-color:var(--off-white);
    margin-bottom: 50px;
}

.products--title {
    width: 90%;
    min-width: 320px;
    height: auto;
    margin: 10px auto;
    margin-bottom: 30px;
}

.plans--title h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
    
}

.products--title p {
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.products-container--slider {
    display: flex;
    gap: 40px;
    height: 430px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.products-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 250px;
    height: 370px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.product-card--title {
    padding-top: 5px;
    padding: 5px;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8rem;
    font-weight: bold;
    background-color: var(--dark-red);
    border-radius: 8px;
    color: var(--just-white);
}

.product-img{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.product-img img{
    width: 50vw;
    height: auto;
    max-width: 150px;
    min-width: 150px;
    object-fit: cover;
    border-radius: 6px;            
}


.product-card--ca {
    width: 140px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--dark-red);
    border-radius: 4px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
    color: var(--black);
    cursor: pointer;
    transition: color 0.3s ease;
}
.product-card--ca:hover {
    color:#757575; 
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--dark-red);
}


footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

footer .left ul {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.left li {
    margin: 10px 20px;
}

.left a {
    text-decoration: none;
    color: var(--just-white);
}

.right{
    gap: 15px;
}

